{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div>
        <h1>404 Page not found</h1>
    </div>
{% endblock %}

