{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div>
        <h1>This is the login page</h1>
    </div>
{% endblock %}

